{% extends "Layout/layout.twig" %}

{% set activePage = 'practitioner_list' %}

{% block stylesheet %}
    <link href="/css/pages/practitioner.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>CONSULTATION
            <small> Praticiens partenaires de GSB</small>
        </h3>
    </div>
	<table class="table table-responsive table-hover">
		<thead>
		    <tr>
			    <th>Nom</th>
			    <th>Prénom</th>
			    <th>Adresse</th>
			    <th>CP</th>
			    <th>Ville</th>
			    <th>Notoriété</th>
			    <th>Type</th>
			    <th>Spécialité</th>
		    </tr>
	    </thead>
		<tbody>
			{% for practitioner in practitioners %}
		      	<tr>
			        <td>{{ practitioner.nom }}</td>
			        <td>{{ practitioner.prenom }}</td>
			        <td>{{ practitioner.adresse }}</td>
			        <td>{{ practitioner.cp }}</td>
			        <td>{{ practitioner.ville }}</td>
			        <td>{{ practitioner.coef_notoriete }}</td>
			        <td>{{ practitioner.type_libelle }}</td>
			        <td>{{ practitioner.specialite_libelle }}</td>
		      	</tr>
			{% endfor %}
    	</tbody>
	</table>
    <nav class="text-center">
        <ul class="pagination">
            <li class="{{ pagination.previous ? '' : 'disabled' }}">
                {% if pagination.previous %}
                    <a href="{{ path_for('practitioner_list') }}?page={{ pagination.current - 1 }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&laquo;</span>
                {% endif %}
            </li>
            {% for i in 1..pagination.nbPage %}
                <li class="{{ pagination.current == i ? 'active' : '' }}"><a href="{{ path_for('practitioner_list') }}?page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li class="{{ pagination.next ? '' : 'disabled' }}">
                {% if pagination.next %}
                    <a href="{{ path_for('practitioner_list') }}?page={{ pagination.current + 1 }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&raquo;</span>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}