{% extends "Layout/layout.twig" %}

{% set activePage = 'practitioner_list' %}

{% block stylesheet %}
    <link href="/css/pages/practitioner.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <h2>Liste des praticiens</h2>
	<table class="table table-responsive table-hover">
		<thead>
		    <tr>
			    <th>Nom</th>
			    <th>Prénom</th>
			    <th>Adresse</th>
			    <th>Code Postal</th>
			    <th>Ville</th>
			    <th>Notoriété</th>
			    <th>Type</th>
			    <th>Spécialité</th>
		    </tr>
	    </thead>
		<tbody>
			{% for practitioner in practitioners %}
		      	<tr>
			        <td>{{ practitioner.nom }}</td>
			        <td>{{ practitioner.prenom }}</td>
			        <td>{{ practitioner.adresse }}</td>
			        <td>{{ practitioner.cp }}</td>
			        <td>{{ practitioner.ville }}</td>
			        <td>{{ practitioner.coef_notoriete }}</td>
			        <td>{{ practitioner.type_libelle }}</td>
			        <td>{{ practitioner.specialite_libelle }}</td>
		      	</tr>
			{% endfor %}
    	</tbody>
	</table>

    
{% endblock %}