{% extends "Layout/layout.twig" %}

{% set activePage = 'report_list' %}

{% block stylesheet %}
    <link href="/css/pages/report_list.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>CONSULTATION
            <small> Rapports de visite précedemment saisis</small>
        </h3>
    </div>
    <table class="table table-responsive table-hover table-list">
        <thead>
        <tr>
            <th>NUMERO</th>
            <th>DATE VISITE</th>
            <th>PRATICIEN</th>
            <th>MOTIF VISITE</th>
            <th>ACTIONS</th>
        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ report.numero }}</td>
                <td>{{ report.date_visite|date("d/m/Y") }}</td>
                <td>{{ report.nom }}</td>
                <td>{{ report.libelle }}</td>
                <td><a href="{{ path_for('report_view', { report_id: report.numero }) }}"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav class="text-center">
        <ul class="pagination">
            <li class="{{ pagination.previous ? '' : 'disabled' }}">
                {% if pagination.previous %}
                    <a href="{{ path_for('report_list') }}?page={{ pagination.current - 1 }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&laquo;</span>
                {% endif %}
            </li>
            {% for i in 1..pagination.nbPage %}
                <li class="{{ pagination.current == i ? 'active' : '' }}"><a href="{{ path_for('report_list') }}?page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            <li class="{{ pagination.next ? '' : 'disabled' }}">
                {% if pagination.next %}
                    <a href="{{ path_for('report_list') }}?page={{ pagination.current + 1 }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&raquo;</span>
            {% endif %}
            </li>
        </ul>
    </nav>
{% endblock %}