{% extends "Layout/layout.twig" %}

{% set activePage = 'report_view' %}

{% block stylesheet %}
    <link href="/css/pages/report_list.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <button class="btn btn-default" type="button"><a href="{{ path_for('report_list') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i>Retour</a></button>
    <div class="page-header">
        <h3>RAPPORT DE VISITE n°1
            <small> Saisi le 28/05/2016</small>
        </h3>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-suitcase" aria-hidden="true"></i> Visite</h3>
        </div>
        <ul class="list-group">
            <li class="list-group-item">Statut : {{ user.statut }}</li>
            <li class="list-group-item">Matricule : {{ user.matricule }}</li>
            <li class="list-group-item">Adresse : {{ user.adresse }}, {{ user.cp }}, {{ user.ville }}</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user" aria-hidden="true"></i> Visiteur médical qui a effectué la visite</h3>
                </div>
                <div class="panel-body">
                    <h4>{{ user.nom }} {{ user.prenom }}</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Statut : {{ user.statut }}</li>
                    <li class="list-group-item">Matricule : {{ user.matricule }}</li>
                    <li class="list-group-item">Adresse : {{ user.adresse }}, {{ user.cp }}, {{ user.ville }}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user-md" aria-hidden="true"></i> Praticien visité</h3>
                </div>
                <div class="panel-body">
                    <h4>{{ user.nom }} {{ user.prenom }}</h4>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Numero : {{ user.statut }}</li>
                    <li class="list-group-item">Adresse : {{ user.adresse }}, {{ user.cp }}, {{ user.ville }}</li>
                    <li class="list-group-item">Coefficient de notoriété : {{ user.matricule }}</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-medkit" aria-hidden="true"></i> Produits présentés</h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/img/produit/product-img.png" alt="">
                    <div class="caption">
                        <h3>{{ product.nom_commercial }} Doliprane  <span class="ref_produit">(ref.doli{{ product.reference }})</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/img/produit/product-img.png" alt="">
                    <div class="caption">
                        <h3>{{ product.nom_commercial }} Doliprane  <span class="ref_produit">(ref.doli{{ product.reference }})</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-medkit" aria-hidden="true"></i> Echantillons offerts</h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/img/produit/product-img.png" alt="">
                    <div class="caption">
                        <h3>{{ product.nom_commercial }} Doliprane  <span class="ref_produit">(ref.doli{{ product.reference }})</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/img/produit/product-img.png" alt="">
                    <div class="caption">
                        <h3>{{ product.nom_commercial }} Doliprane  <span class="ref_produit">(ref.doli{{ product.reference }})</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/img/produit/product-img.png" alt="">
                    <div class="caption">
                        <h3>{{ product.nom_commercial }} Doliprane  <span class="ref_produit">(ref.doli{{ product.reference }})</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/img/produit/product-img.png" alt="">
                    <div class="caption">
                        <h3>{{ product.nom_commercial }} Doliprane  <span class="ref_produit">(ref.doli{{ product.reference }})</span></h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="/img/produit/product-img.png" alt="">
                    <div class="caption">
                        <h3>{{ product.nom_commercial }} Doliprane  <span class="ref_produit">(ref.doli{{ product.reference }})</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}