{% extends "Layout/layout.twig" %}

{% set activePage = 'report_add' %}

{% block stylesheet %}
<link href="/css/pages/report_add.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<h2>Saisir un bilan</h2>

<form class="form-horizontal" role="form" method="post" action="{{ path_for('report_create') }}">
	<div class='row'>
		<div class="col-lg-12">
			<!--<form class="form-horizontal" role="form">-->
			<div class="row">
				<div class="form-group">
					<label for="praticien_id" class="col-sm-2 control-label">Nom du praticien :</label>
					<div class="col-lg-6">
						<select class ="form-control inline" name="praticien_id" id="praticien_id">
							{% for practitioner in practitioners %}
							<option value="{{ practitioner.numero }}">{{ practitioner.nom }} {{ practitioner.prenom }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-lg-6">
						<input type="checkbox" id="remplacant" value="remplacant"><label for="remplacant">Remplaçant</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="visit_date" class="col-sm-2 control-label">Date de saisie :</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="visit_date;" id="visit_date">
				</div>
			</div>
			<div class="form-group">
				<label for="impact" class="col-sm-2 control-label">Impact de la visite :</label>
				<div class="col-sm-6">
					<select class ="form-control" name="impact" id="impact">
						{% for i in 1..10 %}
						<option value="{{ i }}">{{ i }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group" >
				<label for="comment" class="col-sm-2 control-label">Remarque :</label>
				<div class="col-sm-8">
					<textarea class ="form-control" name="comment" id="comment"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="motif_id" class="col-sm-2 control-label">Motif :</label>
				<div class="col-sm-6">
					<select class ="form-control" name="motif_id" id="motif_id">
						{% for motif in motifs %}
						<option value="{{ motif.id }}" selected>{{ motif.libelle }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="product_ids[]" class="col-sm-2 control-label">Produits présentés :</label>
				<div class="col-sm-6">
					<select class ="form-control" name="product_ids[]" id="product_ids">
						{% for product in products %}
						<option value="{{ product.reference }}">{{ product.nom_commercial }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="sample_ids[]" class="col-sm-2 control-label">Echantillons donnés :</label>
				<div class="col-sm-6">
					Echantillon N°1 :
					<select class ="form-control" name="sample_ids[]" id="sample_ids1">
						{% for product in products %}
						<option value="{{ product.reference }}">{{ product.nom_commercial }}</option>
						{% endfor %}
					</select>
					<br><br>
					Echantillon N°2 :
					<select class ="form-control" name="sample_ids[]" id="sample_ids2">
						{% for product in products %}
						<option value="{{ product.reference }}">{{ product.nom_commercial }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>		
	</div>
	<br><br>
	<div class="form-group">
		<div class="col-sm-6">
			<input class="btn btn-primary pull-right" type="submit" name="submit" id="submit" value="Valider">
		</div>
	</div>
</form>

{% endblock %}